<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Data Source=.\Database\monthnew.db;"
         providerName="System.Data.SQLite" />
  </connectionStrings>
  <appSettings>
    <add key="logfile" value="log/log.txt"/>
  </appSettings>
</configuration>